<div class="container-fluid bg-white py-4">
  <h3 class="text-h-color spaced-letters font-weight-light text-uppercase">
    Event-Liste
  </h3>

  <% dates = events.pluck(:starting).uniq %>

  <% dates.each do |date| %>
    <strong><%= date.strftime("%-d.%-m.%Y") %></strong><br />
    <% events.between(date.beginning_of_day, date.end_of_day).each do |event| %>
      <%= event.starting.strftime("%H:%M") %> - <%= link_to event.title, event_path(event) %><br />
    <% end %>
    <br />
  <% end %>
</div>
