// Place all the styles related to the EventCalendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bg-lightgray {
  background-color: LightGray;
}

.bg-lightcyan {
  background-color: LightCyan;
}

.text-lightgray {
  color: LightGray;
}

.bg-lightskyblue {
  background-color: LightSkyBlue;
}
